body{
    overflow:hidden;
}
#wrapper{
    position:absolute;
    width:100%;
    height:100%;
    min-width:1280px;
    min-height:680px;
    overflow-x:hidden;
    overflow-y:hidden;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white),color-stop(1, #A1A3A5));
}
#header{
    height:100px;
    width:100%;
}

#heading{
    position:relative;
    float:left;
    margin-left:20%;
    margin-top:-18px;
    width:60%;
    opacity:0.6;
}
#heading #title{
    margin-top:60px;
    text-align:center;
    font-family:微软雅黑;
    font-size:35px;
    font-weight:bold;
    letter-spacing:18px;
}
#heading #subTitle{
    margin-top:10px;
    text-align:center;
    font-family:Courier New;
}
#main{
    margin-top:20px;
    height:500px;
    width:100%;
}
#mainBg{
    position:relative;
    float:left;
    margin-left:20%;
    margin-top:0px;
    height:500px;
    width:60%;
    border-radius: 18px;
    background-color:#000000;
    opacity:0.6;
}
#mainPanel{
    position:relative;
    margin:25px;
    height:450px;
    border-radius: 18px;
    background-color: white;
}

#mainPanel #login{
    position:relative;
    height:80%;
    width:49%;
    top:5%;
    margin-left:200px;
}
#welcome{
    margin-top:20px;
    height:60px;
    width:100%;
    vertical-align: middle;
    display: inline-block;
    line-height: 60px;
    text-align:center;
}
#welcome #welcome-text{
    font-size:30px;
    font-weight:bold;
    font-family:微软雅黑;
    letter-spacing:8px;
}
#user-name{
    height:35px;
    width:100%;
    margin-top:20px;
    vertical-align: middle;
    display: inline-block;
    line-height: 35px;
}
#user-password{
    margin-top:20px;
    height:35px;
    width:100%;
    vertical-align: middle;
    display: inline-block;
    line-height: 35px;
}
#button-group{
    margin-top:10px;
    height:35px;
    width:100%;
    vertical-align: middle;
    display: inline-block;
    line-height: 35px;
    text-align:center;
    letter-spacing:40px;
}

.item{
    margin-left:20px;
    font-family:微软雅黑;
    font-size:20px;
    font-weight:bold;
    float: left;
    width:80px;
    margin-top: 3px;
    text-align: center;
    text-shadow: 0 1px 1px #F6F6F6;
}

#footer{
    margin-top:20px;
    width:100%;
}
#footer #text{
    text-align:center;
    font-size:14px;
    font-family:微软雅黑;
    font-weight:bold;
}