* {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    overflow:hidden;
}

body{
    min-height:600px;
    min-width:1280px;
	overflow-y:hidden;
}

#title {
	font-size:28px;
}

#user_info {
    height: 35px;
    position: relative;
    float:right;
    width:250px;
    font-weight:bold;
    font-size:14px;
}

#welcome{
    position: relative;
}

#logout{
    margin-top: 15px;
    position: relative;
}

#footer{
    position: absolute;
	float:left;
    left:0px;
    width: 100%;
    height: 25px; 
    vertical-align:middle;
    line-height:25px;
	text-align:center;
	font-family:微软雅黑;
	font-size:14px;
	font-weight:bold;
	font-color:#FFF;
}
#navigator{
    position:relative;
    float:left;
    height: 550px;
    width:200px;
    margin:5px 2px 5px 2px;
    left:60px;
    border: 2px solid #BFBFBF;
    border-radius: 12px;
}
#main{
    position:relative;
    float:left;
    height: 550px;
    width: 75%;
    margin:5px;
    left:80px;
    border: 2px solid #BFBFBF;
    border-radius: 12px 12px;
    -moz-box-shadow: 6px 6px 12px #464647;
    -webkit-box-shadow: 6px 6px 12px #464647;
}
iframe{
    height:100%;
    width:100%;
    background:#FFF;
    position:relative;
    border-radius:12px;
    overflow:hidden;
}

.navi{
    width:100%;
    position:relative;
    word-wrap:break-word;
    border-bottom:1px solid #BFBFBF;
    height:40px;
    background-image: -moz-linear-gradient(top,#EBEBEB, #BFBFBF);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EBEBEB),color-stop(1, #BFBFBF));
}

#navigator .navi a{
    font-weight:bold;
    font-size: x-large;
    padding-left: 70px;
}

#navigator .menu-first{
    font-size: large;
}