#footer{
    width: auto;
    height: 45px;
    background-color: white;
    position:relative;
    margin-top: 10px;
    top: 5px;
}

#footer p{
    position: relative;
    top: 35px;
    margin: 35px 105px 0px 105px;
}
